* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 116px;
    height: 24px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 164px;
    height: 33px;
    border-radius: 26px;
  }
}

.logo__text {
  color: #007bff;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .logo__text {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__text {
    font-size: 21px;
  }
}

.logo__icon {
  width: 13px;
  height: 15px;
  fill: currentColor;
  margin-left: 6px;
}
@media screen and (min-width: 1024px) {
  .logo__icon {
    width: 15px;
    height: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 20px;
    height: 23px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007bff;
  height: 50px;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    height: 80px;
    padding: 0 69px;
  }
}
@media screen and (min-width: 1440px) {
  .header__container {
    height: 90px;
    padding: 0 91px;
  }
}

.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 35px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}
@media screen and (min-width: 1440px) {
  .nav__link {
    font-weight: 500;
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .nav {
    display: none;
  }
}

.header__button {
  width: 133px;
  height: 40px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f39c12;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header__button {
    width: 166px;
    height: 50px;
    font-size: 16px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #007bff;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 1439px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  width: 22px;
  height: 22px;
  fill: currentColor;
  margin-right: 12px;
}/*# sourceMappingURL=main.css.map */