* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.logo:hover {
  background-color: rgb(252.45, 252.45, 252.45);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 116px;
    height: 24px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 164px;
    height: 33px;
    border-radius: 26px;
  }
}

.logo__text {
  color: #007bff;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .logo__text {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__text {
    font-size: 21px;
  }
}

.logo__icon {
  width: 13px;
  height: 15px;
  fill: currentColor;
  margin-left: 6px;
}
@media screen and (min-width: 1024px) {
  .logo__icon {
    width: 15px;
    height: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 20px;
    height: 23px;
  }
}

.header {
  background-color: #007bff;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    width: 1024px;
    height: 80px;
    padding: 0 69px;
  }
}
@media screen and (min-width: 1440px) {
  .header__container {
    width: 1440px;
    height: 90px;
    padding: 0 91px;
  }
}

.nav__list {
  display: inline-flex;
  gap: 35px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}
.nav__link:hover, .nav__link:focus {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1440px) {
  .nav__link {
    font-weight: 500;
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .nav {
    display: none;
  }
}

.header__button {
  width: 133px;
  height: 40px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f39c12;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.header__button:hover {
  background-color: rgb(245.4578313253, 176.2771084337, 66.5421686747);
  transform: scale(1.05);
}
@media screen and (max-width: 1023px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header__button {
    width: 166px;
    height: 50px;
    font-size: 16px;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.menu-button {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  z-index: 999;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #007bff;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-cross {
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}

.menu-container {
  padding: 60px 0;
  z-index: 1;
  background-color: #007bff;
}
@media screen and (max-width: 1024px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .menu-container {
    display: none;
  }
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.mobile-navigation__link {
  color: #ffffff;
  list-style: none;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
}

.mobile-menu__socials {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 376px) and (max-width: 1023px) {
  .mobile-menu__socials {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}
.mobile-menu__socials-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mobile-menu__socials-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.mobile-menu__socials-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.mobile-menu__socials-link {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.mobile-menu__socials-link:hover {
  transform: scale(1.1);
}

.section-intro {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 30px 21px;
}
@media screen and (min-width: 375px) {
  .intro__container {
    width: 375px;
  }
}
@media screen and (min-width: 1024px) {
  .intro__container {
    display: flex;
    flex-direction: row;
    width: 1024px;
    gap: 45px;
    padding: 50px 66px;
  }
}
@media screen and (min-width: 1440px) {
  .intro__container {
    width: 1440px;
    padding: 82px 94px;
  }
}

.intro__content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .intro__content-box {
    align-items: flex-start;
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .intro__content {
    display: flex;
    align-items: flex-start;
  }
}

.intro__content-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}
@media screen and (min-width: 1024px) {
  .intro__content-btn {
    display: flex;
    align-items: flex-start;
    gap: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .intro__content-btn {
    gap: 13px;
  }
}

.intro__title {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .intro__title {
    font-size: 14px;
    font-weight: 800;
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .intro__title {
    font-size: 20px;
  }
}

.intro__subtitle {
  color: #000000;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  line-height: 1.8;
}
@media screen and (min-width: 1024px) {
  .intro__subtitle {
    font-size: 36px;
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .intro__subtitle {
    font-size: 48px;
  }
}

.intro__text {
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .intro__text {
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .intro__text {
    width: 580px;
    font-size: 16px;
  }
}

.intro__text-btn {
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .intro__text-btn {
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .intro__text-btn {
    width: 330px;
    font-size: 14px;
  }
}

.intro__button {
  width: 117px;
  height: 32px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #007bff;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.intro__button:hover {
  background-color: rgb(0, 98.4, 204);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .intro__button {
    width: 161px;
    height: 49px;
    font-size: 16px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .intro__button {
    width: 186px;
    height: 56px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
  }
}

.intro__img {
  width: min(100%, 269px);
  height: auto;
  display: block;
  border-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .intro__img {
    width: min(100%, 367px);
    border-radius: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .intro__img {
    width: min(100%, 516px);
  }
}

.definition-section {
  background-color: #007bff;
  display: flex;
  justify-content: center;
}

.definition {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}
@media screen and (min-width: 375px) {
  .definition {
    width: 375px;
  }
}
@media screen and (min-width: 1024px) {
  .definition {
    width: 1024px;
    padding: 61px 106px;
  }
}
@media screen and (min-width: 1440px) {
  .definition {
    width: 1440px;
    padding: 89px 150px;
  }
}
.definition__title {
  max-width: 285px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .definition__title {
    max-width: none;
    font-weight: 700;
  }
}
@media screen and (min-width: 1440px) {
  .definition__title {
    font-size: 16px;
  }
}
.definition__list {
  display: flex;
  gap: 11px;
  padding-top: 30px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .definition__list {
    gap: 20px;
    padding-top: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__list {
    gap: 25px;
    padding-top: 20px;
  }
}
.definition__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
@media screen and (min-width: 1024px) {
  .definition__icon {
    width: 26px;
    height: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__icon {
    width: 37px;
    height: 37px;
  }
}
.definition__image {
  border-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .definition__image {
    border-radius: 22px;
    max-width: 377px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__image {
    border-radius: 20px;
    max-width: 531px;
  }
}
.definition__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0px;
}
@media screen and (min-width: 1024px) {
  .definition__content {
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding: 0;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__content {
    gap: 78px;
    margin-top: 95px;
  }
}
.definition__content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .definition__content-box {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .definition__content-box {
    gap: 65px;
  }
}
.definition__subtitle {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .definition__subtitle {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__subtitle {
    font-size: 48px;
  }
}
.definition__text {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .definition__text {
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .definition__text {
    font-size: 16px;
  }
}

.definition__btn {
  display: flex;
  gap: 11px;
}
.definition__btn-demo {
  width: 109px;
  height: 32px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-radius: 20px;
  color: #007bff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.definition__btn-demo:hover, .definition__btn-demo:focus {
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .definition__btn-demo {
    width: 132px;
    height: 40px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__btn-demo {
    width: 186px;
    height: 56px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
  }
}
.definition__btn-start {
  width: 116px;
  height: 32px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f39c12;
  border-radius: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.definition__btn-start:hover, .definition__btn-start:focus {
  background-color: rgb(245.4578313253, 176.2771084337, 66.5421686747);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .definition__btn-start {
    width: 132px;
    height: 40px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__btn-start {
    width: 186px;
    height: 56px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .definition__btn {
    gap: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .definition__btn {
    gap: 21px;
  }
}

.about-section {
  padding: 30px 50px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .about-section {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 1440px) {
  .about-section {
    padding: 82px 50px;
  }
}

.about__content {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .about__content {
    width: 688px;
  }
}
@media screen and (min-width: 1440px) {
  .about__content {
    width: 976px;
  }
}

.about__image {
  max-width: 276px;
}
@media screen and (min-width: 1024px) {
  .about__image {
    max-width: 688px;
  }
}
@media screen and (min-width: 1440px) {
  .about__image {
    max-width: 976px;
  }
}

.about__descr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 315px;
}
@media screen and (min-width: 1024px) {
  .about__descr {
    max-width: 688px;
  }
}
@media screen and (min-width: 1440px) {
  .about__descr {
    max-width: 976px;
  }
}

.about__title {
  font-size: 16px;
  font-weight: 800;
}
@media screen and (min-width: 1024px) {
  .about__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .about__title {
    font-size: 48px;
  }
}

.about__text {
  font-size: 12px;
  font-weight: 350;
  line-height: 1.3;
}
@media screen and (min-width: 1440px) {
  .about__text {
    font-size: 20px;
  }
}

.about__btn-box {
  display: flex;
  gap: 10px;
}

.about__btn {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  height: 32px;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.about__btn:hover, .about__btn:focus {
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .about__btn {
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1440px) {
  .about__btn {
    height: 56px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
  }
}

.about__btn-demo {
  width: 109px;
  background: #007bff;
  color: #ffffff;
}
.about__btn-demo:hover, .about__btn-demo:focus {
  background-color: rgb(0, 98.4, 204);
}
@media screen and (min-width: 1024px) {
  .about__btn-demo {
    width: 133px;
  }
}
@media screen and (min-width: 1440px) {
  .about__btn-demo {
    width: 186px;
  }
}

.about__btn-start {
  width: 116px;
  background: #f39c12;
  color: #ffffff;
}
.about__btn-start:hover, .about__btn-start:focus {
  background-color: rgb(245.4578313253, 176.2771084337, 66.5421686747);
}
@media screen and (min-width: 1024px) {
  .about__btn-start {
    width: 133px;
  }
}
@media screen and (min-width: 1024px) {
  .about__btn-start {
    width: 186px;
  }
}

.marketing-section {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  padding: 50px 0;
}
@media screen and (min-width: 1024px) {
  .marketing-section {
    padding: 63px 0;
  }
}
@media screen and (min-width: 1440px) {
  .marketing-section {
    padding: 100px 0;
  }
}

.marketing {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 42px;
}
@media screen and (min-width: 375px) {
  .marketing {
    width: 375px;
  }
}
@media screen and (min-width: 1024px) {
  .marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
    width: 1024px;
    padding: 0 123px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing {
    width: 1440px;
    padding: 0 155px;
    gap: 100px;
  }
}

.marketing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .marketing__content {
    gap: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__content {
    gap: 17px;
  }
}
.marketing__content-title {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .marketing__content-title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__content-title {
    font-size: 48px;
  }
}
.marketing__content-text {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .marketing__content-text {
    font-size: 20px;
    width: 744px;
  }
}

.marketing__price-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
}
@media screen and (min-width: 1024px) {
  .marketing__price-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__price-group {
    gap: 80px;
    width: 984px;
  }
}

.marketing__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 43px;
  width: 100%;
  max-width: 207px;
  min-height: 310px;
  background-color: #ffffff;
  border-radius: 18px;
  padding: 30px 0;
  box-shadow: inset 4px 4px 7px rgba(28, 117, 255, 0.3);
  transition: transform 0.3s ease;
}
.marketing__card:hover {
  transform: translateY(-5px);
}
@media screen and (min-width: 1024px) {
  .marketing__card {
    max-width: 231px;
    height: 346px;
    padding: 42px 0px;
    gap: 37px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card {
    max-width: 320px;
    height: 478px;
    padding: 65px 0px;
    gap: 65px;
  }
}
.marketing__card .marketing__card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 33px;
}
@media screen and (min-width: 1024px) {
  .marketing__card .marketing__card-body {
    padding-left: 37px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card .marketing__card-body {
    padding-left: 51px;
  }
}
.marketing__card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.marketing__card-title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .marketing__card-title {
    font-size: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-title {
    font-size: 30px;
  }
}
.marketing__card-subtitle {
  font-size: 11px;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .marketing__card-subtitle {
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-subtitle {
    font-size: 16px;
    font-weight: 500;
  }
}
.marketing__card-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media screen and (min-width: 1024px) {
  .marketing__card-list {
    gap: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-list {
    gap: 20px;
  }
}
.marketing__card-icon {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 1024px) {
  .marketing__card-icon {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-icon {
    width: 22px;
    height: 22px;
  }
}
.marketing__card-icon-price {
  width: 19px;
  height: 19px;
  fill: #999999;
}
@media screen and (min-width: 1024px) {
  .marketing__card-icon-price {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-icon-price {
    width: 30px;
    height: 30px;
  }
}
.marketing__card-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 11px;
  font-weight: 500;
  color: #000000;
  transition: background-color 0.3s ease;
}
.marketing__card-item:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
@media screen and (min-width: 1024px) {
  .marketing__card-item {
    font-size: 12px;
    gap: 10px;
  }
}
.marketing__card-price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .marketing__card-price {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-price {
    font-size: 24px;
    gap: 10px;
  }
}
.marketing__card-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 72%;
  width: 70px;
  height: 19px;
  background: linear-gradient(90deg, #a3c5ef, #007bff);
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.34);
  border-radius: 3px;
  font-size: 7px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .marketing__card-marker {
    width: 113px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    top: 2%;
    left: 58%;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-marker {
    width: 156px;
    height: 41px;
    font-size: 16px;
    position: absolute;
    top: 3%;
    left: 57%;
  }
}
.marketing__card .marketing__card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketing__card-button {
  width: 119px;
  height: 36px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #007bff;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.marketing__card-button:hover {
  background-color: rgb(0, 98.4, 204);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .marketing__card-button {
    width: 133px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__card-button {
    width: 166px;
    height: 50px;
    font-size: 16px;
    border-radius: 20px;
  }
}

.marketing__table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .marketing__table {
    gap: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table {
    gap: 40px;
  }
}
.marketing__table-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .marketing__table-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table-title {
    font-size: 32px;
    gap: 40px;
  }
}
.marketing__table-container {
  max-width: 290px;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  box-shadow: 8px 7px 12px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px) {
  .marketing__table-container {
    max-width: 780px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table-container {
    max-width: 1113px;
  }
}
.marketing__table-container table {
  width: 100%;
  border-collapse: collapse;
}
.marketing__table-container th {
  padding: 4px;
  text-align: left;
  font-size: 6px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #b9b9b9;
  background-color: #f8faff;
  border-top: none;
  border-left: none;
}
@media screen and (min-width: 1024px) {
  .marketing__table-container th {
    font-size: 12px;
    padding: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table-container th {
    font-size: 16px;
    padding: 15px;
  }
}
.marketing__table-container td {
  padding: 4px;
  text-align: left;
  font-size: 5px;
  font-weight: 400;
  color: #000000;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  border-bottom: none;
  border-left: none;
}
@media screen and (min-width: 1024px) {
  .marketing__table-container td {
    font-size: 12px;
    padding: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table-container td {
    font-size: 16px;
    padding: 15px;
  }
}
.marketing__table-container th:nth-child(1) {
  width: auto;
}
@media screen and (min-width: 1024px) {
  .marketing__table-container th:nth-child(1) {
    width: 386px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table-container th:nth-child(1) {
    width: 563px;
  }
}
.marketing__table-container th:nth-child(n+2) {
  width: 36px;
}
@media screen and (min-width: 1024px) {
  .marketing__table-container th:nth-child(n+2) {
    width: 98px;
  }
}
@media screen and (min-width: 1440px) {
  .marketing__table-container th:nth-child(n+2) {
    width: 142px;
  }
}
.marketing__table-container th:last-child {
  border-right: none;
}
.marketing__table-container td:last-child {
  border-right: none;
}

.reviews-section {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #f8faff;
}
@media screen and (min-width: 1024px) {
  .reviews-section {
    padding-top: 45px;
    padding-bottom: 67px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    padding: 103px 0;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 0 54px;
}
@media screen and (min-width: 375px) {
  .reviews {
    width: 375px;
  }
}
@media screen and (min-width: 1024px) {
  .reviews {
    width: 1024px;
    padding: 0 78px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews {
    width: 1440px;
    gap: 85px;
  }
}
.reviews__title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .reviews__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews__title {
    font-size: 48px;
  }
}

.reviews__card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .reviews__card-list {
    display: flex;
    flex-direction: row;
    gap: 66px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews__card-list {
    gap: 93px;
  }
}
.reviews__card-item {
  width: 100%;
  max-width: 244px;
  height: 424px;
  border-radius: 15px;
  background-color: #fefeff;
  box-shadow: 20px 20px 36px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.reviews__card-item:hover {
  transform: translateY(-5px);
}
@media screen and (min-width: 1440px) {
  .reviews__card-item {
    width: 100%;
    max-width: 344px;
    height: 596px;
    border-radius: 20px;
  }
}
.reviews__card-img {
  width: 100%;
  max-width: 244px;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 1440px) {
  .reviews__card-img {
    max-width: 344px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
.reviews__card-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 18px 15px;
}
@media screen and (min-width: 1440px) {
  .reviews__card-box {
    padding: 35px 20px;
  }
}
.reviews__card-box--spaced {
  gap: 25px;
}
@media screen and (min-width: 1440px) {
  .reviews__card-box--spaced {
    gap: 17px;
  }
}
.reviews__card-text {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  line-height: 1.5;
}
@media screen and (min-width: 1440px) {
  .reviews__card-text {
    font-size: 18px;
  }
}
.reviews__card-author {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 1.5;
}
@media screen and (min-width: 1440px) {
  .reviews__card-author {
    font-size: 19px;
  }
}
.reviews__card-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}
@media screen and (min-width: 1440px) {
  .reviews__card-footer {
    margin-right: 25px;
  }
}
.reviews__card-rating {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}
@media screen and (min-width: 1440px) {
  .reviews__card-rating {
    font-size: 22px;
    gap: 10px;
  }
}
.reviews__card-icon {
  width: 21px;
  height: 21px;
}
@media screen and (min-width: 1440px) {
  .reviews__card-icon {
    width: 25px;
    height: 25px;
  }
}

.reviews__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .reviews__box {
    gap: 28px;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .reviews__box {
    gap: 39px;
  }
}
.reviews__box-title {
  font-size: 19px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .reviews__box-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews__box-title {
    font-size: 32px;
  }
}
.reviews__box-btn {
  height: 32px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #007bff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.reviews__box-btn:hover {
  background-color: rgb(0, 98.4, 204);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .reviews__box-btn {
    width: 100%;
    max-width: 290px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews__box-btn {
    width: 100%;
    max-width: 353px;
    height: 50px;
    font-size: 14px;
  }
}
.reviews__box-accent {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .reviews__box-accent {
    font-size: 14px;
  }
}

.faq-section {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 50px 0;
}
@media screen and (min-width: 1440px) {
  .faq-section {
    padding: 85px 0;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 0 20px;
}
@media screen and (min-width: 375px) {
  .faq {
    width: 375px;
  }
}
@media screen and (min-width: 1024px) {
  .faq {
    width: 1024px;
    gap: 99px;
    padding: 0 133px;
  }
}
@media screen and (min-width: 1440px) {
  .faq {
    width: 1440px;
    gap: 126px;
    padding: 0 210px;
  }
}

.faq__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .faq__body {
    gap: 49px;
  }
}
.faq__body-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .faq__body-head {
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-head {
    gap: 26px;
  }
}
.faq__body-title {
  font-size: 32px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .faq__body-title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-title {
    font-size: 48px;
  }
}
.faq__body-text {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .faq__body-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-text {
    font-size: 20px;
  }
}
.faq__body-list {
  width: 100%;
  max-width: 333px;
  border: solid 1px #000000;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  .faq__body-list {
    max-width: 728px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-list {
    max-width: 984px;
  }
}
.faq__body-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  border-bottom: solid 1px #000000;
}
@media screen and (min-width: 1024px) {
  .faq__body-question {
    font-size: 14px;
    padding: 8px 22px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-question {
    font-size: 20px;
    padding: 10px 29px;
  }
}
.faq__body-question.no-border {
  border-bottom: none;
}
.faq__body-question-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.faq__body-question-btn.is-open .faq__body-question-icon {
  transform: rotate(180deg);
}
.faq__body-answer {
  max-height: 0;
  overflow: hidden;
  font-size: 10px;
  color: #000000;
  padding: 0 10px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.faq__body-answer.is-open {
  max-height: 200px;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: solid 1px #000000;
}
.faq__body-answer:last-of-type.is-open {
  border-bottom: none;
}
@media screen and (min-width: 1024px) {
  .faq__body-answer {
    font-size: 14px;
    padding: 0 22px;
  }
  .faq__body-answer.is-open {
    padding: 10px 22px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-answer {
    font-size: 20px;
    padding: 0 29px;
  }
  .faq__body-answer.is-open {
    padding: 10px 29px;
    padding-bottom: 50px;
  }
}

.faq__body-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .faq__body-support {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-support {
    gap: 34px;
  }
}
.faq__body-support-subtitle {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .faq__body-support-subtitle {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-support-subtitle {
    font-size: 24px;
  }
}
.faq__body-support-button {
  width: 95px;
  height: 32px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #007bff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.faq__body-support-button:hover {
  background-color: rgb(0, 98.4, 204);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .faq__body-support-button {
    width: 133px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-support-button {
    width: 151px;
    height: 50px;
    font-size: 16px;
  }
}

.faq__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .faq__footer {
    gap: 15px;
  }
}
.faq__footer-title {
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .faq__footer-title {
    font-size: 35px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1440px) {
  .faq__footer-title {
    font-size: 48px;
  }
}
.faq__footer-text {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-bottom: 26px;
}
@media screen and (min-width: 1024px) {
  .faq__footer-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__footer-text {
    font-size: 20px;
  }
}
.faq__footer-actions {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .faq__footer-actions {
    gap: 11px;
  }
}
.faq__footer-button-get {
  width: 159px;
  height: 32px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #007bff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.faq__footer-button-get:hover {
  background-color: rgb(0, 98.4, 204);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .faq__footer-button-get {
    width: 192px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__footer-button-get {
    width: 230px;
    height: 50px;
    font-size: 16px;
  }
}
.faq__footer-button-talk {
  width: 136px;
  height: 32px;
  border: solid 1px #007bff;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.faq__footer-button-talk:hover {
  background-color: rgb(231.25, 231.25, 231.25);
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .faq__footer-button-talk {
    width: 169px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__footer-button-talk {
    width: 209px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
  }
}

.faq__body-question-btn {
  width: 10px;
  height: 10px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .faq__body-question-btn {
    width: 17px;
    height: 17px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-question-btn {
    width: 23px;
    height: 23px;
  }
}
.faq__body-question-icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1024px) {
  .faq__body-question-icon {
    width: 17px;
    height: 17px;
  }
}
@media screen and (min-width: 1440px) {
  .faq__body-question-icon {
    width: 23px;
    height: 23px;
  }
}

.footer-section {
  display: flex;
  justify-content: center;
  background-color: #5c5c5c;
  padding-top: 60px;
  padding-bottom: 45px;
}
@media screen and (min-width: 1024px) {
  .footer-section {
    padding-top: 32px;
    padding-bottom: 39px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-section {
    padding-top: 48px;
    padding-bottom: 59px;
  }
}

.footer__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  text-align: center;
}
@media screen and (min-width: 376px) and (max-width: 1439px) {
  .footer__logo {
    width: 138px;
    height: 28px;
  }
}
.footer__logo-text {
  color: #007bff;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}
@media screen and (min-width: 376px) and (max-width: 1439px) {
  .footer__logo-text {
    font-size: 18px;
  }
}
.footer__logo-icon {
  width: 26px;
  height: 28px;
  fill: currentColor;
  margin-left: 4px;
}
@media screen and (min-width: 376px) and (max-width: 1439px) {
  .footer__logo-icon {
    width: 17px;
    height: 19px;
  }
}

.footer__logo::before {
  content: "";
  position: absolute;
  width: 865px;
  height: 1px;
  background-color: #ffffff;
  top: 9.5%;
  left: 55%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1023px) {
  .footer__logo::before {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo::before {
    display: block;
    width: 1216px;
    top: 10.5%;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 375px) {
  .footer {
    width: 375px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    width: 1440px;
    gap: 126px;
  }
}
.footer__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .footer__head {
    gap: 44px;
    align-items: flex-start;
    padding-left: 130px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__head {
    gap: 62px;
    padding-left: 184px;
  }
}
.footer__title {
  width: 100%;
  max-width: 186px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    max-width: none;
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .footer__title {
    font-size: 14px;
  }
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 1024px) {
  .footer__body {
    display: flex;
    flex-direction: row-reverse;
    gap: 160px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__body {
    gap: 400px;
  }
}
.footer__body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 1024px) {
  .footer__body-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 54px;
  }
}
.footer__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  min-width: 325px;
}
@media screen and (min-width: 1440px) {
  .footer__form {
    width: 424px;
  }
}
.footer__form::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  background-color: #ffffff;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .footer__form::before {
    display: none;
  }
}
.footer__form-title {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .footer__form-title {
    font-weight: 400;
  }
}
@media screen and (min-width: 1440px) {
  .footer__form-title {
    font-size: 14px;
  }
}
.footer__form-box {
  display: flex;
  gap: 5px;
  width: 100%;
  min-width: 330px;
}
@media screen and (min-width: 1440px) {
  .footer__form-box {
    gap: 9px;
    width: 424px;
  }
}
.footer__form-input {
  width: 100%;
  min-width: 224px;
  height: 30px;
  border-radius: 4px;
  border: 0;
  padding: 8px 6px;
  color: #9ca3af;
  font-size: 10px;
  font-weight: 500;
  box-shadow: inset 1px 1px 8px rgba(28, 117, 255, 0.3);
}
@media screen and (min-width: 1440px) {
  .footer__form-input {
    max-width: 280px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    padding: 8px 8px;
  }
}
.footer__form-button {
  width: 96px;
  height: 29px;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: #007bff;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.footer__form-button:hover {
  background-color: rgb(0, 98.4, 204);
  transform: scale(1.05);
}
@media screen and (min-width: 1440px) {
  .footer__form-button {
    width: 133px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
  }
}
.footer__socials-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__socials-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.footer__socials-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer__socials-link {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer__socials-link:hover {
  color: #007bff;
}
@media screen and (min-width: 1440px) {
  .footer__socials-link {
    font-size: 14px;
  }
}
.footer__quicklinks {
  display: flex;
  gap: 40px;
  padding: 0 55px;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks {
    gap: 62px;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer__quicklinks {
    gap: 87px;
  }
}
.footer__quicklinks::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  background-color: #ffffff;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks::before {
    width: 1px;
    height: 310px;
    top: 25%;
    left: 51.6%;
  }
}
@media screen and (min-width: 1440px) {
  .footer__quicklinks::before {
    height: 440px;
    top: 25%;
    left: 51.3%;
  }
}
.footer__quicklinks-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks-left {
    align-items: flex-start;
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__quicklinks-left {
    gap: 28px;
  }
}
.footer__quicklinks-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks-right {
    align-items: flex-start;
    gap: 11px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__quicklinks-right {
    gap: 16px;
  }
}
.footer__quicklinks-title {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .footer__quicklinks-title {
    font-size: 14px;
  }
}
.footer__quicklinks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks-list {
    align-items: flex-start;
  }
}
.footer__quicklinks-link {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer__quicklinks-link:hover {
  color: #007bff;
}
@media screen and (min-width: 1440px) {
  .footer__quicklinks-link {
    font-size: 14px;
  }
}
.footer__quicklinks-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks-support {
    align-items: flex-start;
  }
}
.footer__quicklinks-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks-resources {
    align-items: flex-start;
  }
}
.footer__quicklinks-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer__quicklinks-legal {
    align-items: flex-start;
  }
}
.footer__copyright {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__copyright {
    gap: 20px;
  }
}
.footer__copyright::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 22px;
  background-color: #ffffff;
  top: -2%;
  left: 53.5%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1023px) {
  .footer__copyright::before {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright::before {
    display: block;
  }
}
.footer__copyright-text {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .footer__copyright-text {
    font-size: 14px;
  }
}
.footer__copyright-box {
  display: flex;
}
.footer__copyright-link {
  padding: 0 5px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-right: solid 1px #ffffff;
  transition: all 0.3s ease;
}
.footer__copyright-link:hover {
  color: #007bff;
}
@media screen and (min-width: 1440px) {
  .footer__copyright-link {
    font-size: 14px;
  }
}
.footer__copyright-box :last-child .footer__copyright-link {
  border-right: none;
}/*# sourceMappingURL=main.css.map */