.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 20px;

  background-color: $primary-color;
  border-radius: 16px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    width: 116px;
    height: 24px;

    border-radius: 18px;
  }
}

.logo__text {
  color: $second-color;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    font-size: 15px;
  }
}

.logo__icon {
  width: 13px;
  height: 15px;
  fill: currentColor;

  margin-left: 6px;

  @media screen and (min-width: $tablet) {
    width: 15px;
    height: 16px;
  }
}
