* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;

  margin: 0;
  padding-top: 60px;

  &.no-scroll {
    overflow: hidden;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 80px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 90px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

[id] {
  scroll-margin-top: 60px;
}
@media screen and (min-width: $tablet) and (min-width: $desktop) {
  [id] {
    scroll-margin-top: 87px;
  }
}
